.App {
    text-align: center;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.color-red {
    color: #FC0D1B !important;
}

.light-yellow {
    color: #AE965A !important;
}

.light-grey {
    color: #979797 !important;
}

.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}

.MuiPickerStaticWrapper-content {
    border-radius: 20px;
}

.MuiCalendarPicker-root {
    background: white;
    border-radius: 20px;
    color: #000000;
}

.MuiPickersDay-today {
    background: #AE965A !important;
    color: white !important;
}

.otpInput:focus {
    border-bottom: 3px solid #39281F !important;
}

.PrivatePickersFadeTransitionGroup-root {
    color: #AE965A;
    font-weight: 500;
}